<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reportes EMSA</title>

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/emsa_reports.css">
</head>

<body>

  <div class="page-container">

    <header class="topbar">
      <h1>Reportes EMSA</h1>
      <p>Gestión de incidencias ciudadanas</p>
    </header>

    <main>
      <div id="reportsContainer" class="reports-container"></div>
    </main>

  </div>

  <script type="module" src="../functions/EMSA/Emsa.Reports.presenter.js"></script>

</body>
</html>